<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>511730877008-16nb47hq8jrgmfvvahiak52s0ffrvle3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.511730877008-16nb47hq8jrgmfvvahiak52s0ffrvle3</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>511730877008-qebku13ce418sotab1reoqfbdpsjqfv5.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAkzvCuwHM68S9RO6-kcD_egnYLh6OqGbM</string>
	<key>GCM_SENDER_ID</key>
	<string>511730877008</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kr.re.kigam.keew</string>
	<key>PROJECT_ID</key>
	<string>keew-ffaf7</string>
	<key>STORAGE_BUCKET</key>
	<string>keew-ffaf7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:511730877008:ios:bbc52ae369b38ace</string>
	<key>DATABASE_URL</key>
	<string>https://keew-ffaf7.firebaseio.com</string>
</dict>
</plist>